[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pgadmin4 = {file = "https://ftp.postgresql.org/pub/pgadmin/pgadmin4/v4.29/pip/pgadmin4-4.29-py3-none-any.whl"}
flask-security-too = "==3.4.5"

[dev-packages]

[requires]
python_version = "3.8"
